<!-- footer -->
<footer class="footer footer-dark middle-parent">
  <div class="container middle-child">
    <div class="row">
      <div class="col-lg-6  ml-auto mr-auto text-center">
        <!-- <ul class="social-icons list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter"></i>twitter
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram"></i>instagram
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-behance"></i>Behance
            </a>
          </li>
        </ul>
        <h4><i class="fa fa-phone"></i> 1800-355-4322</h4> -->
        <p><i class="fa fa-envelope"></i> <a href="mailto:lecture@lhy.kr">lecture@lhy.kr</a></p>
        <p>&copy; Copyright 2018. Lee HanYeong</p>
      </div>
    </div>
  </div>
</footer>