{% extends 'base.html' %}

{% block content %}
	<!-- Background -->

	<div class="bg-parallax parallax-overlay accounts-page"  data-jarallax='{"speed": 0.2}'>
		<div class="container">
			<div class="row pb30">
				<div class="col-lg-4 col-md-6 mr-auto ml-auto col-sm-8">
					<h3 class="text-white text-center mb30">Login to continue</h3>
					<form method="post">
						{% if form.errors %}
							<div class="text-center alert alert-danger">username and password didn't match.</div>
						{% endif %}
						{% csrf_token %}
						<div class="form-group">
							{{ form.username }}
						</div>
						<div class="form-group">
							{{ form.password }}
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-rounded btn-primary btn-block">Sign In</button>
						</div>
						<div class="text-center"><a href="#" class="btn btn-link btn-block">Having trouble logging in?</a></div>
						<hr>
						<div>
							<a href="#" class="btn btn-white-outline btn-block">Sign Up</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}