<!-- footer -->
<footer class="footer footer-dark pt50 pb30">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  ml-auto mr-auto text-center">
        <!-- <ul class="social-icons list-inline">
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-facebook"></i>Facebook
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-twitter"></i>twitter
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-instagram"></i>instagram
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fa fa-behance"></i>Behance
            </a>
          </li>
        </ul>
        <h4><i class="fa fa-phone"></i> 1800-355-4322</h4>
        <h4><i class="fa fa-envelope"></i> support@assan.com</h4> -->
        <p>&copy; Copyright 2017. Assan 3.0</p>
      </div>
    </div>
  </div>
</footer>