{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Django Web Programming Lecture</title>
	
	{% compress css %}
	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/font.scss' %}">
	<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/plugins/plugins.scss' %}">
	<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/style.scss' %}">
	<link rel="stylesheet" type="text/x-scss" href="{% static 'scss/custom.scss' %}">
	{% endcompress %}
</head>
<body>
	<div id="preloader">
		<div id="preloader-inner"></div>
	</div>
	
	<!-- Pushy Menu -->
	<!-- <aside class="pushy pushy-right">
		<div class="cart-content">
			<div class="clearfix">
				<a href="javascript:void(0)" class="pushy-link text-white-gray">Close</a>
			</div>
			<ul class="list-unstyled">
				<li class="clearfix">
					<a href="#" class="float-left">
						<img src="" class="img-fluid" alt="" width="60">
					</a>
					<div class="oHidden">
						<span class="close"><i class="ti-close"></i></span>
						<h4><a href="#">Men's Special Watch</a></h4>
						<p class="text-white-gray"><strong>$299.00</strong> x 1</p>
					</div>
				</li>
				<li class="clearfix">
					<a href="#" class="float-left">
						<img src="" class="img-fluid" alt="" width="60">
					</a>
					<div class="oHidden">
						<span class="close"><i class="ti-close"></i></span>
						<h4><a href="#">Men's tour beg</a></h4>
						<p class="text-white-gray"><strong>$99.00</strong> x 1</p>
					</div>
				</li>
				<li class="clearfix">
					<a href="#" class="float-left">
						<img src="" class="img-fluid" alt="" width="60">
					</a>
					<div class="oHidden">
						<span class="close"><i class="ti-close"></i></span>
						<h4><a href="#">Women's T-shirts</a></h4>
						<p class="text-white-gray"><strong>$199.00</strong> x 1</p>
					</div>
				</li>
				<li class="clearfix">
					
					<div class="float-right">
						<a href="#" class="btn btn-primary">Checkout</a>
					</div>
					<h4  class="text-white">
						<small>Subtotal - </small> $49.99
					</h4>
				</li>
			</ul>
		</div>
	</aside> -->
	
	<!-- Site Overlay -->
  <div class="site-overlay"></div>
	{% include 'include/navbar.html' %}

	<div id="content-block">
		{% block content %}
		{% endblock %}

		{% if messages %}
			<div class="messages">
				{% for message in messages %}
					{% include 'include/alert.html' %}
				{% endfor %}
			</div>
		{% endif %}
	</div>

	{% include 'include/footer.html' %}
	<!-- jQuery first, then Tether, then Bootstrap JS. -->
	<script src="{% static 'js/plugins/plugins.js' %}"></script>
	<script src="{% static 'js/assan.custom.js' %}"></script>
	<script>
		// messages자동 사라짐
		var messagesBlock = document.querySelector('.messages');
		setTimeout(function() {
		  messagesBlock.style.opacity = '0';
		  setTimeout(function() {
		    messagesBlock.remove();
		  }, 500);
		}, 3500);
	</script>
</body>
</html>